@startuml
hide empty members

{{#Classes}}
{{Kind}} {{Name}} {
	 {{#fields}}
	 + {{#name}}{{name}}{{/name}}{{#TypeName}}: {{TypeName}}{{/TypeName}}{{#Cardinality}} [{{Cardinality}}]{{/Cardinality}}
	 {{/fields}}
}
{{#relations}}
{{OwnerTypeName}} "{{OwnerCardinality}}" *-- "{{ChildCardinality}}" {{ChildTypeName}} : {{ChildName}}
{{/relations}}
{{#superClass}}{{superClass}} <|-- {{Name}}{{/superClass}}

{{/Classes}}

{{#interfaceDiagrams}}
interface {{interfaceName}} {
	 {{#methods}}
	 + <i>{{methodDefinition}}</i><b>:{{returnType}}</b> {{#errorClass}} <b><color:red> throws {{errorClass}} </color> </b>{{/errorClass}}
	 {{/methods}}
}

{{/interfaceDiagrams}}

{{#entityRelations}}
{{sourceClass}} {{#isExtension}}-->{{/isExtension}} {{#isComposition}}*--{{/isComposition}} {{#cardinality}}"{{cardinality}}"{{/cardinality}}  {{targetClass}}
{{/entityRelations}}

center footer {{ModelTitle}}, v. {{ModelVersion}}

@enduml
